$tinta_jogada_na_tela: url('../static/imgs/img_01.jpg');

#desloca{
    margin-top: 56px;
}

#navegacao{
    opacity: 0.9;
}

#apresentacao{
    height: 100vh;
    background-image: $tinta_jogada_na_tela;
    p{
        color: #f8f9fa;
    }
}

#brand{
    color: $cyan;
}

#menu-btn{
    color: $light;
}